.news-details-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 20px;
    padding: 20px 100px;
}

.details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--skin-color);
}

.news-details-container .details-header .details-title {
    padding: 2px 25px;
}

.news-details-container .details-owner-options {
    display: flex;
    padding: 20px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.news-details-container .details-owner-options i {
    font-size: 0.9rem;
    transition: all ease 0.2s;
}

.news-details-container .details-owner-options i:hover {
    color: var(--skin-color);
    font-size: 1.2rem;
    transition: all ease 0.2s;
    cursor: pointer;
}

.news-details-container .details {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    max-height: 380px;
}

.news-details-container .details img {
    padding: 10px;
    width: 60%;
    filter: brightness(0.8);
    border: 5px solid var(--skin-color);
    border-radius: 22px;
}

.news-details-container .details-text {
    overflow-y: scroll;
    padding: 10px;
}

.news-details-container .details-text h5 {
    line-height: 1.7;
}

/* Media Queries */
@media only screen and (max-width: 576px) {

    /* Details */
    .news-details-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .news-details-container .details {
        flex-direction: column;
    }

    .news-details-container .details img {
        width: 100%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    /* Details */
    .news-details-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .news-details-container .details {
        flex-direction: row;
        font-size: 18px;
    }

    .news-details-container .details img {
        width: 60%;
        height: 90%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    /* Details */
    .news-details-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .news-details-container .details {
        flex-direction: row;
        font-size: 20px;
    }

    .news-details-container .details img {
        width: 60%;
        height: 90%;
    }
}