@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    --text-color: #40434e;
    --main-bg-color: #e8ebe4;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', Poppins;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: white(64, 67, 78, 0.5);
}

::-webkit-scrollbar-thumb {
    background: var(--skin-color);
    border-radius: 7px;
}

.header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom: 3px solid var(--skin-color);
}

.header span {
    color: var(--skin-color);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.menu li {
    margin: 0 30px;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.menu li:hover {
    color: var(--skin-color);
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.nav li {
    margin: 0 30px;
    color: var(--text-color);
}

.nav li:hover {
    color: var(--skin-color);
    cursor: pointer;
}

.burger-nav {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 45px;
    width: 45px;
    padding: 5px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
}

.color-switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
}

.color {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.color.active {
    border: 1px solid var(--skin-color);
}

.pink {
    background-color: #ca2e55;
}

.green {
    background-color: #28afb0;
}


.orange {
    background-color: #ff8c42;
    ;
}

.red {
    background-color: #ff0000;
}

.responsive-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 58px;
    left: 0;
    font-size: 10px;
    width: 100%;
    z-index: 10;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 8px black;
    transition: all 0.3s ease;
    transform: translateX(-5000px);
}

.line {
    width: 31px;
    height: 4px;
    background: var(--skin-color);
    border-radius: 30px;
}

/* News-Container */
.news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
    min-height: 600px;
    margin: 40px;
    border-left: 2px solid var(--skin-color);
    border-right: 2px solid var(--skin-color);
}

.new-box {
    width: 375px;
    height: 260px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden;
}

.new-box p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 370px;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    text-align: left;
    padding: 0 30px;
}

.new-box img {
    width: 313px;
    height: 160px;
}

.new-box:hover {
    width: 390px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.822);
    transition: 0.5s all ease;
    cursor: pointer;
}

.new-box:hover p {
    display: block;
}

/* Login */

.login-section {
    transition: all ease 0.5s;
}

.dark {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all ease 0.5s;
}

.login-section .login-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 101;
    width: 535px;
    height: 560px;
    min-height: 350px;
    top: 3%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0px 2px 14px var(--main-bg-color);
    background-color: var(--main-bg-color);
    transform: translateY(-1500px);
    transition: all ease 0.5s;
}

.login-section .login-panel.active {
    transform: translateY(10px);
}

.login-panel i {
    font-size: 2rem;
    margin-left: 38px;
    margin-top: 27px;
}

.login-panel i:hover {
    color: var(--skin-color);
    cursor: pointer;
}

.login-panel h1 {
    font-size: 2rem;
    padding-top: 25px;
    text-align: center;
}

.login-panel .login-form {
    text-align: center;
}

.login-panel .login-form input {
    display: inline-block;
    height: 55px;
    width: 350px;
    margin-top: 30px;
    font-size: 1rem;
    border: 1px solid var(--skin-color);
    border-radius: 4px 0 0 4px;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--skin-color);
    text-align: center;
}

.login-panel .login-form input:focus {
    border: 2px solid var(--skin-color);
}

.login-panel .login-form input[type="submit"] {
    background-color: var(--skin-color);
    color: var(--main-bg-color);
    font-weight: 500;
    font-size: 1.5rem;
    transition: all ease 0.5s;
}

.login-panel .login-form input[type="submit"]:hover {
    background-color: #ffffff;
    color: var(--skin-color);
    cursor: pointer;
    font-size: 2rem;
    transition: all ease 0.5s;
}

.login-panel .login-form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.login-panel .login-additional {
    display: flex;
    flex-direction: row;
    width: 370px;
    height: 130px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.login-panel .login-additional .remember-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 130px;
    justify-content: space-between;
    align-items: center;
}

.login-panel .login-additional .remember-container .remember {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid var(--skin-color);
    border-radius: 3px;
    transition: all 0.5s ease;
}

.login-panel .login-additional .remember-container .remember.active {
    background-color: var(--skin-color);
}   

.login-panel .login-additional .remember-container p {
    font-size: 0.9rem;
}


.login-panel .login-additional .remember-container .remember:hover {
    cursor: pointer;
}

.login-panel .login-additional .remember-container .remember.active {
    background-color: var(--skin-color);
    border: 2px solid var(--main-bg-color);
    transition: all 0.5s ease;
}

.login-panel .login-additional .help-container a {
    transition: all ease 0.5s;
    text-decoration: none;
    color: var(--skin-color);
}

.login-panel .login-additional .help-container a:hover {
    color: var(--text-color);
    font-size: 1.1rem;
    transition: all ease 0.5s;
}

.login-panel .login-additional .sign-later {
    padding: 15px 0;
}

.login-panel .login-additional .sign-later p {
    color: var(--text-color);
}

.login-panel .login-additional .sign-later span {
    color: var(--skin-color);
}

.login-panel .login-additional .sign-later a {
    text-decoration: none;
    color: var(--skin-color);
    transition: all ease 0.5s;
}

.login-panel .login-additional .sign-later a:hover {
    color: var(--text-color);
    transition: all ease 0.5s;
}

/* Register */


.register-section .register-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 535px;
    height: 620px;
    min-height: 385px;
    top: 0%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 101;
    border-radius: 16px;
    box-shadow: 0px 2px 14px var(--main-bg-color);
    background-color: var(--main-bg-color);
    transform: translateY(-1500px);
    transition: all ease 0.5s;
}

.register-section .register-panel.active {
    transform: translateY(10px);
}

.register-panel i {
    font-size: 2rem;
    margin-left: 38px;
    margin-top: 27px;
}

.register-panel i:hover {
    color: var(--skin-color);
    cursor: pointer;
}

.register-panel h1 {
    font-size: 2rem;
    padding-top: 25px;
    text-align: center;
}

.register-panel .register-form {
    text-align: center;
}

.register-panel .register-form input {
    display: inline-block;
    height: 55px;
    width: 350px;
    margin-top: 30px;
    font-size: 1rem;
    border: 1px solid var(--skin-color);
    border-radius: 4px 0 0 4px;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--skin-color);
    text-align: center;
}

.register-panel .register-form input:focus {
    border: 2px solid var(--skin-color);
}

.register-panel .register-form input[type="submit"] {
    background-color: var(--skin-color);
    color: var(--main-bg-color);
    font-weight: 500;
    font-size: 1.5rem;
    transition: all ease 0.5s;
}

.register-panel .register-form input[type="submit"]:hover {
    background-color: #ffffff;
    color: var(--skin-color);
    cursor: pointer;
    font-size: 2rem;
    transition: all ease 0.5s;
}

.register-panel .register-form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.register-panel .register-additional {
    display: flex;
    flex-direction: row;
    width: 370px;
    height: 130px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.register-panel .register-additional .help-container a {
    transition: all ease 0.5s;
    text-decoration: none;
    color: var(--skin-color);
}

.register-panel .register-additional .help-container a:hover {
    color: var(--text-color);
    font-size: 1.1rem;
    transition: all ease 0.5s;
}

.register-panel .register-additional .sign-now p {
    color: var(--text-color);
}

.register-panel .register-additional .sign-now span {
    color: var(--skin-color);
}

.register-panel .register-additional .sign-now a {
    text-decoration: none;
    color: var(--skin-color);
    transition: all ease 0.5s;
}

.register-panel .register-additional .sign-now a:hover {
    color: var(--text-color);
    transition: all ease 0.5s;
}

/* Sign Out */

.logout-section .logout-panel {
    display: none;
    border-radius: 16px;
    box-shadow: 0px 2px 14px var(--main-bg-color);
    position: relative;
    z-index: 101;
    width: 500px;
    height: 260px;
    top: 30%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    transition: all ease 0.5s;
}

.logout-section .logout-panel.active {
    display: block;
    transition: all ease 0.5s;
}

.logout-section .logout-panel h2 {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 40px;
    color: var(--text-color);
}

.logout-section .logout-panel h3 {
    display: inline-block;
    padding: 10px 42px;
    color: var(--text-color);
}

.logout-section .logout-panel .button-container {
    text-align: right;
    margin: 0 30px;
    padding: 5px;
}

.logout-section .logout-panel button {
    height: 45px;
    width: 120px;
    margin: 25px 5px;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--main-bg-color);
    background-color: var(--text-color);
    box-shadow: 0px 2px 14px var(--text-color);
    transition: all ease 0.5s;
}

.logout-section .logout-panel button:hover {
    color: var(--skin-color);
    cursor: pointer;
    transition: all ease 0.5s;
}

/* Create */

.news-form-container {
    padding: 20px;
}

.news-form {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
}

.news-form input {
    height: 55px;
    margin-top: 5px;
    border: 1px solid var(--skin-color);
    border-radius: 4px 0 0 4px;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--text-color);
    text-align: center;
    transition: all ease 0.5s;
    background-color: #ffffff;
}

.news-form label {
    font-size: 1.3rem;
}

.news-form select {
    font-size: 1.2rem;
    height: 55px;
    border: 1px solid var(--skin-color);
}

.news-form input[type="submit"]:hover {
    color: var(--skin-color);
    cursor: pointer;
    font-size: 1.5rem;
    transition: all ease 0.5s;
}

.news-form input:focus::-webkit-input-placeholder {
    color: transparent;
}

/* My Profile */

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 100px;
    margin: 100px 0;
    border-top: 10px solid var(--skin-color);
    border-right: 20px solid var(--skin-color);
    border-bottom: 10px solid var(--skin-color);
    border-left: 20px solid var(--skin-color);
    box-shadow: 0 0 5px var(--skin-color);
}

.profile-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.profile-content .avatar {
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.profile-content .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: filter 0.5s ease 0s;
    filter: brightness(0.8);
    box-shadow: 0px 0px 12px black;
}

.profile-content .avatar:hover img {
    filter: brightness(0.4);
    cursor: pointer;
}

.profile-content .avatar p {
    position: absolute;
    top: 40%;
    left: 25%;
    margin: 0 auto;
    opacity: 0;
    color: white;
    font-weight: bold;
    transition: opacity 0.5s ease;
}

.profile-content .avatar.active p {
    color: white;
    opacity: 1;
}

.profile-content .my-profile-save {
    width: 50px;
    height: 20px;
    background: white;
    border: 2px solid var(--skin-color);
    border-radius: 5px;
}

.profile-content .my-profile-save:hover {
    cursor: pointer;
    background: white;
    border: 2px solid var(--text-color);
    border-radius: 5px;
}

.profile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.profile-box p {
    color: var(--skin-color);
}

.profile-change {
    width: 174px;
    height: 30px;
    border: 1px solid var(--skin-color);
    background: white;
    font-size: 1rem;
    box-shadow: 0 0 3px var(--skin-color);
    border-radius: 20px;
    transition: all ease 0.2s;
}

.profile-change:hover {
    font-size: 1.2rem;
    color: var(--skin-color);
    transition: all ease 0.5s;
    cursor: pointer;
}

.profile-changing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.profile-changing input {
    width: 140px;
    height: 30px;
    border-radius: 4px;
}

.profile-changing.email input {
    width: 170px;
    height: 30px;
    border-radius: 4px;
}

.profile-changing.gender select {
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.profile-changing button {
    height: 30px;
}

.profile-changing i:hover {
    font-size: 1.2rem;
    color: var(--skin-color);
    cursor: pointer;
    transition: all ease 0.2s;
}

/* Details */
.news-details-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 20px;
    padding: 20px 100px;
}

.details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--skin-color);
}

.news-details-container .details-header .details-title {
    padding: 2px 25px;
}

.news-details-container .details-owner-options {
    display: flex;
    padding: 20px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.news-details-container .details-owner-options i {
    font-size: 0.9rem;
    transition: all ease 0.2s;
}

.news-details-container .details-owner-options i:hover {
    color: var(--skin-color);
    font-size: 1.2rem;
    transition: all ease 0.2s;
    cursor: pointer;
}



.news-details-container .details {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    max-height: 380px;
}

.news-details-container .details img {
    padding: 10px;
    width: 60%;
    filter: brightness(0.8);
    border: 5px solid var(--skin-color);
    border-radius: 22px;
}

.news-details-container .details-text {
    overflow-y: scroll;
    padding: 10px;
}

.news-details-container .details-text h5 {
    line-height: 1.7;
}

/* Details / Comments */

.comments-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 20px;
    padding: 10px;
}

.comments-container .comments-title {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 4px 10px;
}

.comment-box {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px;
    border: 2px solid var(--skin-color);
    border-radius: 30px;
}

.comments-container .comment-box img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
}

.comments-container .comment-box .user-comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}


.comments-container .comment-box .user-comment span {
    font-size: 0.9rem;
    font-weight: bold;
}

.comments-container .comment-box .user-comment p {
    font-size: 1rem;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-size: 15px;
    border-top: 2px solid var(--skin-color);
}

.footer a {
    text-decoration: none;
    color: var(--skin-color);
}

/* Media Queries */
@media only screen and (max-width: 576px) {

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        background-color: white;
        border-bottom: 3px solid var(--skin-color);
    }

    .burger-nav {
        display: flex;
    }


    .responsive-menu.open {
        transform: translateX(0px);
    }

    .header,
    .news-details-container,
    .comments-container,
    .comments-container .comment-box .user-comment p {
        font-size: 10px;
    }

    .menu,
    .nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        list-style-type: none;
    }

    .main-nav {
        display: none;
    }

    .menu li,
    .nav li {
        margin: 0;
    }

    .color {
        width: 15px;
        height: 15px;
    }

    /* Autentication Forms */

    .login-section .login-panel.active,
    .register-section .register-panel.active {
        transform: translateY(0px);
    }

    .login-section .login-panel,
    .register-section .register-panel {
        width: 70%;
        height: 370px;
        top: 5%;
    }

    .login-panel i,
    .register-panel i {
        font-size: 20px;
        margin-left: 17px;
        margin-top: 13px;
    }

    .login-panel h1,
    .register-panel h1 {
        font-size: 15px;
    }

    .login-panel .login-form input {
        height: 45px;
        width: 80%;
        margin-top: 13px;
        font-size: 15px;
    }

    .register-panel .register-form input {
        height: 30px;
        width: 80%;
        margin-top: 13px;
        font-size: 12px;
    }

    .login-panel .login-additional {
        width: 90%;
        height: 100px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container {
        justify-content: space-around;
    }

    .register-panel .register-additional {
        width: 90%;
        height: 69px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container p,
    .login-panel .login-additional .help-container a,
    .register-panel .register-additional .sign-now a,
    p,
    .register-panel .register-additional .help-container a {
        font-size: 12px;
    }

    .login-panel .login-additional .sign-later {
        padding: 5px 0;
        font-size: 14px;
    }

    .login-panel .login-form input[type="submit"],
    .register-panel .register-form input[type="submit"] {
        background-color: var(--skin-color);
        color: var(--main-bg-color);
        font-weight: 500;
        font-size: 15px;
        transition: all ease 0.5s;
    }

    /* Details */

    .news-details-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .news-details-container .details {
        flex-direction: column;
    }

    .news-details-container .details img {
        width: 100%;
    }

    .logout-section .logout-panel.active {
        width: 80%;
        font-size: 13px;
    }

    .logout-section .logout-panel button {
        height: 45px;
        width: 40%;
        margin: 25px 5px;
        border: 1px solid var(--text-color);
        border-radius: 6px;
        font-weight: 500;
        font-size: 1.3rem;
        color: var(--main-bg-color);
        background-color: var(--text-color);
        box-shadow: 0px 2px 14px var(--text-color);
        transition: all ease 0.5s;
    }

    .comment-box {
        justify-content: space-evenly;
        padding: 10px;
        gap: 10px;
    }

    .comments-container .comment-box img {
        width: 50px;
        height: 50px;
    }

    .comments-container .comment-box .user-comment {
        gap: 5px;
        width: 60%;
    }

    /* My Profile */

    .profile-container {
        flex-direction: column;
        gap: 40px;
        margin: 0;
        padding: 20px 70px;
    }

    .profile-box {
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        gap: 13px;
        align-items: center;
    }

    .profile-content {
        justify-content: space-around;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        background-color: white;
        border-bottom: 3px solid var(--skin-color);
    }

    .burger-nav {
        display: flex;
    }


    .responsive-menu.open {
        transform: translateX(0px);
    }

    .header,
    .news-details-container,
    .comments-container,
    .comments-container .comment-box .user-comment p {
        font-size: 15px;
    }

    .menu,
    .nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        list-style-type: none;
    }

    .main-nav {
        display: none;
    }

    .menu li,
    .nav li {
        margin: 0;
    }

    .color {
        width: 15px;
        height: 15px;
    }

    /* Autentication Forms */

    .login-section .login-panel.active,
    .register-section .register-panel.active {
        transform: translateY(0px);
    }

    .login-section .login-panel,
    .register-section .register-panel {
        width: 70%;
        height: 370px;
        top: 5%;
    }

    .login-panel i,
    .register-panel i {
        font-size: 20px;
        margin-left: 17px;
        margin-top: 13px;
    }

    .login-panel h1,
    .register-panel h1 {
        font-size: 15px;
    }

    .login-panel .login-form input {
        height: 45px;
        width: 80%;
        margin-top: 13px;
        font-size: 15px;
    }

    .register-panel .register-form input {
        height: 30px;
        width: 80%;
        margin-top: 13px;
        font-size: 12px;
    }

    .login-panel .login-additional {
        width: 90%;
        height: 100px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container {
        justify-content: space-around;
    }

    .register-panel .register-additional {
        width: 90%;
        height: 69px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container p,
    .login-panel .login-additional .help-container a,
    .register-panel .register-additional .sign-now a,
    p,
    .register-panel .register-additional .help-container a {
        font-size: 15px;
    }

    .login-panel .login-additional .sign-later {
        padding: 5px 0;
        font-size: 14px;
    }

    .login-panel .login-form input[type="submit"],
    .register-panel .register-form input[type="submit"] {
        background-color: var(--skin-color);
        color: var(--main-bg-color);
        font-weight: 500;
        font-size: 15px;
        transition: all ease 0.5s;
    }

    /* Details */

    .news-details-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .news-details-container .details {
        flex-direction: row;
        font-size: 18px;
    }

    .news-details-container .details img {
        width: 60%;
        height: 90%;
    }

    .logout-section .logout-panel.active {
        width: 80%;
        max-width: 515px;
        font-size: 13px;
    }

    .logout-section .logout-panel button {
        height: 45px;
        width: 40%;
        margin: 25px 5px;
        border: 1px solid var(--text-color);
        border-radius: 6px;
        font-weight: 500;
        font-size: 1.3rem;
        color: var(--main-bg-color);
        background-color: var(--text-color);
        box-shadow: 0px 2px 14px var(--text-color);
        transition: all ease 0.5s;
    }

    .comment-box {
        justify-content: space-evenly;
        padding: 10px;
        gap: 10px;
        font-size: 15px;
    }

    .comments-container .comment-box img {
        width: 50px;
        height: 50px;
    }

    .comments-container .comment-box .user-comment {
        gap: 5px;
        width: 60%;
    }

    /* My Profile */

    .profile-container {
        flex-direction: column;
        gap: 40px;
        margin: 0;
        padding: 20px 70px;
    }

    .profile-box {
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        gap: 13px;
        align-items: center;
    }

    .profile-content {
        justify-content: space-around;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        background-color: white;
        border-bottom: 3px solid var(--skin-color);
    }

    .burger-nav {
        display: flex;
    }

    .responsive-menu.open {
        transform: translateX(0px);
    }

    .header,
    .news-details-container,
    .comments-container,
    .comments-container .comment-box .user-comment p {
        font-size: 15px;
    }

    .menu,
    .nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        list-style-type: none;
    }

    .main-nav {
        display: none;
    }

    .menu li,
    .nav li {
        margin: 0;
        font-size: 15px;
    }

    .color {
        width: 15px;
        height: 15px;
    }

    /* Autentication Forms */

    .login-section .login-panel.active,
    .register-section .register-panel.active {
        transform: translateY(0px);
    }

    .login-section .login-panel,
    .register-section .register-panel {
        width: 70%;
        height: 370px;
        top: 5%;
    }

    .login-panel i,
    .register-panel i {
        font-size: 25px;
        margin-left: 17px;
        margin-top: 13px;
    }

    .login-panel h1,
    .register-panel h1 {
        font-size: 20px;
    }

    .login-panel .login-form input {
        height: 45px;
        width: 80%;
        margin-top: 13px;
        font-size: 15px;
    }

    .register-panel .register-form input {
        height: 30px;
        width: 80%;
        margin-top: 13px;
        font-size: 15px;
    }

    .login-panel .login-additional {
        width: 90%;
        height: 100px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container {
        justify-content: space-around;
    }

    .register-panel .register-additional {
        width: 90%;
        height: 69px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container p,
    .login-panel .login-additional .help-container a,
    .register-panel .register-additional .sign-now a,
    p,
    .register-panel .register-additional .help-container a {
        font-size: 15px;
    }

    .login-panel .login-additional .sign-later {
        padding: 5px 0;
        font-size: 19px;
    }

    .login-panel .login-form input[type="submit"],
    .register-panel .register-form input[type="submit"] {
        background-color: var(--skin-color);
        color: var(--main-bg-color);
        font-weight: 500;
        font-size: 18px;
        transition: all ease 0.5s;
    }

    /* Details */

    .news-details-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .news-details-container .details {
        flex-direction: row;
        font-size: 20px;
    }

    .news-details-container .details img {
        width: 60%;
        height: 90%;
    }

    .logout-section .logout-panel.active {
        width: 80%;
        max-width: 515px;
        font-size: 18px;
    }

    .logout-section .logout-panel button {
        height: 45px;
        width: 40%;
        margin: 25px 5px;
        border: 1px solid var(--text-color);
        border-radius: 6px;
        font-weight: 500;
        font-size: 1.3rem;
        color: var(--main-bg-color);
        background-color: var(--text-color);
        box-shadow: 0px 2px 14px var(--text-color);
        transition: all ease 0.5s;
    }

    .comment-box {
        justify-content: space-evenly;
        padding: 10px;
        gap: 10px;
        font-size: 18px;
    }

    .comments-container .comment-box img {
        width: 50px;
        height: 50px;
    }

    .comments-container .comment-box .user-comment {
        gap: 5px;
        width: 60%;
    }

    /* My Profile */

    .profile-container {
        flex-direction: column;
        gap: 40px;
        margin: 0;
        padding: 20px 70px;
    }

    .profile-box {
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        gap: 13px;
        align-items: center;
    }

    .profile-content {
        justify-content: space-around;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        background-color: white;
        border-bottom: 3px solid var(--skin-color);
    }

    .burger-nav {
        display: none;
    }

    .responsive-menu.open {
        transform: translateX(0px);
    }

    .header,
    .news-details-container,
    .comments-container,
    .comments-container .comment-box .user-comment p {
        font-size: 15px;
    }

    .menu,
    .nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        list-style-type: none;
    }

    .menu li,
    .nav li {
        margin: 0;
        font-size: 15px;
    }

    .color {
        width: 15px;
        height: 15px;
    }

    /* My Profile */
    .profile-container {
        padding: 29px 10px;
    }

    /* Authentication Forms */
    /* Autentication Forms */

    .login-section .login-panel.active,
    .register-section .register-panel.active {
        transform: translateY(0px);
    }

    .login-section .login-panel,
    .register-section .register-panel {
        width: 70%;
        height: 90%;
        top: 2%;
    }

    .login-panel i,
    .register-panel i {
        font-size: 25px;
        margin-left: 17px;
        margin-top: 13px;
    }

    .login-panel h1,
    .register-panel h1 {
        font-size: 20px;
    }

    .login-panel .login-form input {
        height: 45px;
        width: 80%;
        margin-top: 13px;
        font-size: 20px;
    }

    .register-panel .register-form input {
        height: 45px;
        width: 80%;
        margin-top: 10px;
        font-size: 20px;
    }

    .login-panel .login-additional {
        width: 90%;
        height: 100px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container {
        justify-content: space-around;
    }

    .register-panel .register-additional {
        width: 90%;
        height: 69px;
        padding: 10px;
    }

    .login-panel .login-additional .remember-container p,
    .login-panel .login-additional .help-container a,
    .register-panel .register-additional .sign-now a,
    p,
    .register-panel .register-additional .help-container a {
        font-size: 15px;
    }

    .login-panel .login-additional .sign-later {
        padding: 5px 0;
        font-size: 19px;
    }

    .login-panel .login-form input[type="submit"],
    .register-panel .register-form input[type="submit"] {
        background-color: var(--skin-color);
        color: var(--main-bg-color);
        font-weight: 500;
        font-size: 18px;
        transition: all ease 0.5s;
    }
}